#main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  height: calc(100% - 3px);
}

#main_header {
  display: flex;
  flex-direction: column;
}

#name_nav_zoom {
  min-height: 47px;
  margin: 0px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#name_nav_zoom>* {
  display: flex;
  flex: 1;
}

/** Nav Bar **/

#nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav_item {
  width: 100px;
  height: 30px;
  margin: 0px;
  transition: all 0.5s ease 0s;
  background-color: rgb(172, 172, 172);
  border: black solid 1px;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  text-decoration: none;
  color: black;
  text-align: center;
  line-height: 30px;
}

.nav_item:hover {
  color: #FFFFFF;
  background-color: #2c2c2c;
}

.nav_item.selected {
  color: #FFFFFF;
  background-color: rgb(29, 29, 29);
  cursor: default;
  pointer-events: none;
}

#zoom_tools {
  margin: 10px;
}

.filter_row {
  display: flex;
  margin: 5px;
  width: fit-content;
}

.filter_row>.delete {
  margin-left: 10px;
}

.filter_type {
  height: 21px;
}

.filter_type>* {
  width: 60px;
  margin-right: 0px;
}

.filter_field {
  height: 21px;
  margin-left: 10px;
}

.filter_field.obtainability_select {
  width: 80px;
}

.level_input {
  height: 17px;
  width: 56px;
  padding: 0px;
}

#add_list_filters {
  margin: 10px;
}

#list_filter_title {
  margin: 0px;
}

#list_filters {
  vertical-align: middle;
}

#filters_buttons_zoom_stats {
  display: flex;
  justify-content: space-between;
}

#list_stats {
  display: flex;
  flex-direction: row;
  margin: 10px;
  vertical-align: middle;
  align-items: center;
  margin-right: 10px;
}

#list_stats_list {
  margin-right: 10px;
}

#import_export {
  display: flex;
  justify-content: flex-end;
}

#import_options {
  margin-left: 10px
}

#zoom_range {
  width: 200px;
  vertical-align: middle;
}

#zoom_checkbox {
  vertical-align: middle;
  transform: scale(1.2)
}

#list_name_title {
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: flex-start;
}

#memoria_list_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 10px;
  overflow: auto;
}

#memoria_list_content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  height: fit-content;
  width: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
}

#memoria_list_content:empty {
  display: none;
}

/* Memoria Row */

#memoria_list_content .memoria_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}