.character_display {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 156px;
  width: 112px;
  box-sizing: border-box;
  border: solid 1px transparent;
  margin: 5px;
}

.character_display:not(.selected):not(.preview):hover {
  outline: 1px solid gray;
}

.character_display :not(.card_image) {
  position: relative;
}

.frame_rank {
  margin-top: -112px;
}

.star_rank {
  margin-top: -112px;
}

.attribute {
  margin-top: -112px;
}

.magic {
  margin-top: 0px;
}

.magia {
  margin-top: 0px;
}

.level {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 0px;
  margin-top: -156px;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}

.level .level_pre {
  position: relative;
  margin-top: 8px;
  margin-right: 5px;
  font-size: 16px;
  color: #D8D58A;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.level .level_num {
  font-size: 24px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.character_display .card_image {
  -webkit-mask-image: url(/assets/magireco/ui/frame_mask.png);
  -webkit-mask-position-x: +0px;
  -webkit-mask-position-y: +16px;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(/assets/magireco/ui/frame_mask.png);
  mask-position: -9px, -16px;
  mask-repeat: no-repeat;
  position: absolute;
  left: -9px;
  top: -16px;
}

.selected {
  outline: solid 2px black;
}