#display {
  display: flex;
  flex-direction: row;
  position: relative;
  margin: 20px 20px 20px 20px;
}

#display .background, .frame_rank, .star_rank, .att {
  position: absolute;
  top: 0px;
  left: 0px;
  align-items: center;
  vertical-align: middle;
}

#display .magic {
  position: absolute;
  top: 112px;
  left: 0px;
  align-items: center;
}

#display .magia {
  position: absolute;
  top: 135px;
  left: 0px;
  align-items: center;
}

#display .level {
  position: absolute;
  text-align: right;
  right: 50%;
  font-size: 40px;
}

#display .card_image {
  -webkit-mask-image: url(/assets/magireco/ui/frame_mask.png);
  -webkit-mask-position-x: +0px;
  -webkit-mask-position-y: +16px;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(/assets/magireco/ui/frame_mask.png);
  mask-position: -9px, -16px;
  mask-repeat: no-repeat;
  position: absolute;
  left: -9px;
  top: -16px;
}