body {
  font-family: Arial, Helvetica, sans-serif;
  height: calc(100vh - 22px);
  border: 1px solid var(--divider-color);
  background-color: var(--background-color);
}

.section {
  border: 1px solid var(--border-color-standard);
  border-radius: 25px;
  margin: 20px;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  max-width: 30vw;
  box-sizing: border-box;
}

.header_label {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 5px;
}

.message {
  word-wrap: break-word;
}

#forgot_password_open_label {
  font-size: 12px;
  opacity: 0.6;
  padding: 5px 5px;
  width: fit-content;
}

#forgot_password_open_label:hover {
  opacity: 1;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

.login_field {
  width: 250px;
  padding: 5px;
  margin: 5px 5px;
}

#content {
  display: flex;
  flex-direction: row;
}

#login_buttons, #signup_buttons, #forgot_password_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login_button {
  width: 100px;
  padding: 5px;
  margin: 5px 5px;
}

#anonymous_message {
  padding: 0px 5px;
}

#signin_anonymous_button {
  width: fit-content;
}

#enter_button {
  width: 200px;
  height: 100px;
}

#messageModalContent {
  display: flex;
  flex-direction: column;
}

#messageModalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#messageModalTitle {
  margin: 0px;
}

#messageModalText {
  height: 90%;
  resize: none;
  padding: 5px;
  color: var(--text-color-standard);
  background-color: var(--textarea-background-color);
}

#messageModalCopy {
  margin-top: 5px;
  width: fit-content;
}