#loading {
  display: flex;
  justify-content: center;
}

#info {
  
}

#character_list_container {
  display: flex;
  flex-direction: column;
  height: 100% - 47px;
  overflow: auto;
}

/* Character List */

#character_list_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-direction: column;
  position: relative;
  height: fit-content;
  width: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  background-color: rgba(255, 255, 255, 0); */
}

#character_list_content:empty {
  display: none;
}

#character_list_content .character_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}