header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid black;
}

.header_link {
  color: black;
  opacity: 0.9;
  transition: all 0.3 ease 0s;
  text-decoration: none;
}

.header_link:hover {
  opacity: 1;
}

#header_left {
  position: flex;
  align-items: flex-start;
}

#header_left>h1 {
  margin: 0.25em 0px;
}

#header_right {
  position: flex;
  align-items: flex-end;
  left: auto;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
}

#header_right_upper {
  margin-left: auto;
  float: right;
}

#header_right_lower {
  text-align: right;
  font-weight: bold;
  font-size: 24px;
  padding-top: 5px;
}

#contact_button {
  margin-right: 10px;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.collapse {
  visibility: collapse;
}

.error_text {
  width: 100%;
  color: red;
}

.btn:disabled {
  visibility: 50%;
}

.btn {
  background-color: #2c2c2c;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 0px;
  border-radius: 3px;
  outline: none;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  outline: none;
}

.btnBlue {
  background: #18a0fb;
}

.btnGray {
  background: #2c2c2c;
  cursor: pointer;
}

.btnGray:hover {
  background-color: #000000;
}

.btnDisabled {
  background: #6e6e6e;
  pointer-events: none;
}

.small_btn {
  font-size: 16px;
  border: black solid 1px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  min-width: 30px;
  min-height: 30px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  user-select: none;
  text-align: center;
  outline: none;
}

.small_btn:hover {
  color: #FFFFFF;
  background-color: #2c2c2c;
}

.large_btn {
  font-size: 16px;
  border: black solid 1px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  outline: none;
}

.large_btn:hover {
  color: #FFFFFF;
  background-color: #2c2c2c;
}

.vertical-divider {
  border-left: black solid 1px;
}

.horizontal-divider {
  border-top: black solid 1px;
}

.margin-right-10 {
  margin-right: 10px;
}

/* The Modal (background) */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.9 ease 0s;
}

/* Modal Content */

.modal-content {
  margin: auto;
  padding: 20px;
  overflow: hidden;
  background-color: #fefefe;
  border: 1px solid #888;
}

.modal-body {
  max-height: 80%;
  overflow: auto;
}

.modal-large-width {
  width: 80%;
}

.modal-large-height {
  height: 80%;
}

.modal-medium-width {
  width: 60%;
}

.modal-medium-height {
  height: 60%;
}

.modal-small-width {
  width: 40%;
}

.modal-small-height {
  height: 40%;
}

/* The Close Button */

.close {
  position: relative;
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}