/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header_link {
  color: var(--header-link-text-color);
  opacity: 0.9;
  transition: all 0.3 ease 0s;
  text-decoration: none;
}

.header_link:hover {
  opacity: 1;
}

#header_left {
  position: flex;
  align-items: flex-start;
}

#header_left>h1 {
  margin: 0.25em 0px;
}

#header_right {
  position: flex;
  align-items: flex-end;
  left: auto;
  right: 20px;
  top: 20px;
  display: flex;
  flex-direction: column;
}

#header_right_upper {
  display: flex;
  align-items: center;
  margin-left: auto;
  float: right;
}

#header_right_lower {
  text-align: right;
  font-weight: bold;
  font-size: 24px;
  padding-top: 5px;
  height: 28px;
}

#header_username {
  color: var(--text-color-standard);
}

/** Nav Bar **/

#nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav_item {
  width: 100px;
  height: 30px;
  margin: 0px;
  transition: all 0.5s ease 0s;
  background-color: var(--nav-item-background-color);
  border: var(--nav-item-border-color) solid 1px;
  color: var(--nav-item-text-color);
  cursor: pointer;
  user-select: none;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
}

.nav_item:hover {
  color: var(--nav-item-text-color-hover);
  background-color: var(--nav-item-background-color-hover);
}

.nav_item.selected {
  color: var(--nav-item-text-color-selected);
  background-color: var(--nav-item-background-color-selected);
  cursor: default;
  pointer-events: none;
}

.light {
  background-image: url("../../assets/icon/theme_light_black.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  padding: 10px;
}

.light:hover {
  background-image: url("../../assets/icon/theme_light_white.png");
}

.dark {
  background-image: url("../../assets/icon/theme_dark_black.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  padding: 10px;
}

.dark:hover {
  background-image: url("../../assets/icon/theme_dark_white.png");
}

/* Useful */

.hidden {
  display: none !important;
  visibility: hidden;
  opacity: 0;
}

.collapse {
  visibility: collapse;
}

.error_text {
  width: 100%;
  color: var(--error-text-color);
}

.success_text {
  width: 100%;
  color: var(--success-text-color);
}

.error_text:empty {
  display: none;
}

/* Input */

.small_btn {
  font-size: 16px;
  border: var(--button-border-color) solid 1px;
  border-radius: 10px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  margin: 2px;
  padding: 5px;
  min-width: 30px;
  min-height: 30px;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.small_btn:not(:disabled):hover {
  color: var(--button-text-color-hover);
  background-color: var(--button-background-color-hover);
  border: var(--button-border-color-hover) solid 1px;
}

.small_btn:disabled {
  opacity: 0.6;
  cursor: default;
}

.form_input {
  border: var(--input-outline-color) solid 1px;
  border-radius: 10px;
  font-size: 16px;
  text-align: left;
  margin: 0;
  padding: 0px 10px;
  transition: all 0.3s ease 0s;
  user-select: none;
}

/* Divider */

.vertical-divider {
  border-left: var(--divider-color) solid 1px;
}

.horizontal-divider {
  border-top: var(--divider-color) solid 1px;
}

/* Modal Dialog */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.9 ease 0s;
}

.modal-content {
  margin: auto;
  padding: 20px;
  overflow: hidden;
  background-color: var(--modal-background-color);
  border: 1px solid var(--modal-border-color);
}

.modal-body {
  max-height: 80%;
  overflow: auto;
}

.modal-large-width {
  width: 80%;
}

.modal-large-height {
  height: 80%;
}

.modal-medium-width {
  width: 60%;
}

.modal-medium-height {
  height: 60%;
}

.modal-small-width {
  width: 40%;
}

.modal-small-height {
  height: 40%;
}

.close {
  position: relative;
  color: var(--modal-close-button-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover {
  color: var(--modal-close-button-color-hover);
  text-decoration: none;
  cursor: pointer;
}

/* Scroll Bar */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  margin: 0;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background-color);
  border-radius: 10px;
}

:hover::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-background-color)
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-background-color-hover);
  /* cursor: pointer; */
}

textarea {
  cursor: auto;
}

/* Colors */

:root {
  color: #000000;
  --background-color: #ffffff;
  --divider-color: #000000;
  --scrollbar-thumb-background-color: rgba(0, 0, 0, 0.45);
  --scrollbar-thumb-background-color-hover: rgba(0, 0, 0, 0.55);
  --header-link-text-color: #000000;
  --tab-header-text-color: #1100ff;
  --text-color-standard: #000000;
  --border-color-none: #ffffff;
  --border-color-standard: #000000;
  --border-color-hover: #000000;
  --textarea-background-color: #ffffff;
  --error-text-color: #ff0000;
  --success-text-color: #008800;
  --modal-background-color: #fefefe;
  --modal-border-color: #888888;
  --modal-close-button-color: #aaaaaa;
  --modal-close-button-color-hover: #000000;
  --button-background-color: #d1d1d1;
  --button-text-color: #000000;
  --button-border-color: #000000;
  --button-background-color-hover: #2c2c2c;
  --button-text-color-hover: #ffffff;
  --button-border-color-hover: #000000;
  --button-background-color-selected: #7c7c7c;
  --button-text-color-selected: #000000;
  --button-border-color-selected: #000000;
  --display-outline-color: #808080;
  --display-background-color: #dcdcdc;
  --display-selected-outline-color: #000000;
  --display-selected-background-color: #6e6e6e;
  --input-outline-color: #646464;
  --list-entry-text-color-hover: #ffffff;
  --list-entry-background-color-hover: #2c2c2c;
  --list-entry-border-color-selected: #616161;
  --list-entry-text-color-selected: #ffffff;
  --list-entry-background-color-selected: #030303;
  --nav-item-background-color: #acacac;
  --nav-item-border-color: #000000;
  --nav-item-text-color: #000000;
  --nav-item-background-color-hover: #000000;
  --nav-item-text-color-hover: #ffffff;
  --nav-item-background-color-selected: #1d1d1d;
  --nav-item-text-color-selected: #ffffff;
  --message-background-color: #d1d1d1;
}

[data-theme="dark"] {
  color: #ffffff;
  --background-color: #000000;
  --divider-color: #ffffff;
  --scrollbar-thumb-background-color: rgba(255, 255, 255, 0.45);
  --scrollbar-thumb-background-color-hover: rgba(255, 255, 255, 0.55);
  --header-link-text-color: #ffffff;
  --tab-header-text-color: #6f65ff;
  --text-color-standard: #ffffff;
  --border-color-none: #000000;
  --border-color-standard: #ffffff;
  --border-color-hover: #ffffff;
  --textarea-background-color: #272727;
  --error-text-color: #ff0000;
  --success-text-color: #008800;
  --modal-background-color: #000000;
  --modal-border-color: #888888;
  --modal-close-button-color: #808080;
  --modal-close-button-color-hover: #ffffff;
  --button-background-color: #d1d1d1;
  --button-text-color: #000000;
  --button-border-color: #fbfbfb;
  --button-background-color-hover: #2c2c2c;
  --button-text-color-hover: #ffffff;
  --button-border-color-hover: #ffffff;
  --button-background-color-selected: #7c7c7c;
  --button-text-color-selected: #ffffff;
  --button-border-color-selected: #ffffff;
  --display-outline-color: #808080;
  --display-background-color: #dcdcdc;
  --display-selected-outline-color: #ffffff;
  --display-selected-background-color: #6e6e6e;
  --input-outline-color: #646464;
  --list-entry-text-color-hover: #000000;
  --list-entry-background-color-hover: #2c2c2c;
  --list-entry-border-color-selected: #ffffff;
  --list-entry-text-color-selected: #ffffff;
  --list-entry-background-color-selected: #1f1f1f;
  --nav-item-background-color: #acacac;
  --nav-item-border-color: #ffffff;
  --nav-item-text-color: #ffffff;
  --nav-item-background-color-hover: #ffffff;
  --nav-item-text-color-hover: #000000;
  --nav-item-background-color-selected: #1d1d1d;
  --nav-item-text-color-selected: #000000;
  --message-background-color: #272727;
}

