body {
  min-width: 800px;
  min-height: 500px;
  overflow: visible;
  margin: 10px;
  border: solid black 1px;
  /* max-width: 100%;
  max-height: 100%; */
  max-width: 100%;
  min-height: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  padding: 0;
}

#content {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#nav_bar {
  display: flex;
  flex-direction: column;
}

.nav_button {
  width: 100px;
  padding: 10px;
  transition: all 0.5s ease 0s;
}

.nav_button.selected_nav {
  background: rgb(100, 100, 100);
}

.nav_button:hover {
  background: rgb(31, 31, 31);
}

#main {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#menu_bar {
  position: relative;
  border-top: none;
}

#name_heading {
  margin: 10px;
  width: max-content;
  max-width: 20vw;
  word-wrap: break-word;
}

#tabs {
  width: 100%;
}

.tab {
  margin: 5px;
  padding: 5px;
  width: max-content;
  max-width: 300px;
}

.tab_hidden {
  display: none;
}

.tab_header {
  display: flex;
  align-items: center;
}

.tab_heading {
  margin: 0px;
  cursor: pointer;
  user-select: none;
  color: rgb(17, 0, 255);
  opacity: 0.6;
  transition: all 0.3s ease 0s;
}

.tab_heading:hover {
  opacity: 1;
}

.tab_contents {
  transition: all 0.5s ease 0s;
}

#list_buttons {
  /* position: absolute; */
  left: 110px;
  top: 5px;
}

#list_buttons>* {
  margin: 5px 1px;
}

.form_input {
  border: rgb(100, 100, 100) solid 1px;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 5px 0px;
  user-select: none;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  outline: none;
  transition: all 0.3s ease 0s;
}

#new_list_name_field {
  width: 120px;
}

#duplicate_list_name_field {
  width: 140px;
}

#new_list_create_button {}

#new_list_form {}

#new_profile_field {
  width: 100px;
}

#list_create, #list_duplicate {
  visibility: collapse;
  display: none;
}

.grid_form {
  /* border: rgb(100, 100, 100) solid 1px;
  border-radius: 10px;
  padding: 2px 10px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  outline: none;
  transition: all 0.3s ease 0s; */
}

.custom-input {
  /* padding-left: 14px; */
  padding-left: 3px;
}

#display_preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#auto_row_checkbox {
  margin: 0px;
}

#display_padding_x_field, #display_padding_y_field {
  width: 50px;
}

#background_select {
  width: 180px;
}

.character_list_entry {
  border: rgb(100, 100, 100) solid 1px;
  border-radius: 10px;
  padding: 5px 20px;
  margin: 5px 0px;
  user-select: none;
  text-align: center;
  word-wrap: break-word;
  width: fit-content;
  cursor: pointer;
  outline: none;
  opacity: 0.8;
  transition: all 0.3s ease 0s;
}

.character_list_entry:hover {
  color: #FFFFFF;
  background-color: #2c2c2c;
}

.selectedList {
  border: rgb(0, 0, 0) solid 1px;
  cursor: default;
  opacity: 1;
}

.selectedList:hover {
  color: #2c2c2c;
  background-color: #FFFFFF;
}

#main_header {
  display: flex;
  flex-direction: column;
}

#name_and_zoom {
  min-height: 47px;
  margin: 0px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

#zoom_tools {
  margin: 10px;
}

.filter_row {
  display: flex;
  margin: 5px;
  width: fit-content;
}

.filter_row>.delete {
  margin-left: 10px;
}

.filter_type {
  height: 21px;
}

.filter_type>* {
  width: 60px;
  margin-right: 0px;
}

.filter_field {
  height: 21px;
  margin-left: 10px;
}

.filter_field.obtainability_select {
  width: 80px;
}

.level_input {
  height: 17px;
  width: 56px;
  padding: 0px;
}

#add_list_filters {
  margin: 10px;
}

#list_filter_title {
  margin: 0px;
}

#list_filters {
  vertical-align: middle;
}

#filters_buttons_and_stats {
  display: flex;
  justify-content: space-between;
}

#list_stats {
  margin: 10px;
}

#list_stats_list {
  margin-right: 10px;
}

#import_export {
  display: flex;
}

#import_options {
  margin-left: 10px
}

#zoom_range {
  width: 200px;
  vertical-align: middle;
}

#zoom_checkbox {
  vertical-align: middle;
  transform: scale(1.2)
}

#list_name_title {
  margin-top: 10px;
  margin-bottom: 10px;
}

#character_list_container {
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
  margin: 10px;
  max-height: 100%;
}

#character_list_content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: fit-content;
  width: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
}

.ascend, .descend {
  font-size: 12px;
  color: #18a0fb;
}

.ascend::after {
  content: "▲";
}

.descend::after {
  content: "▼";
}

.left, .right {
  font-size: 24px;
  color: #000000;
}

.left::after {
  content: "◄";
}

.right::after {
  content: "►";
}

.delete::after {
  content: "×";
  text-align: center;
}

.add::after {
  content: "+";
}

.minus::after {
  content: "-";
}

.duplicate {
  background-image: url("../assets/icon/file_copy_black.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  padding: 10px;
}

.duplicate:hover {
  background-image: url("../assets/icon/file_copy_white.png");
}

.characterSelectModalList {
  display: flex;
  flex-direction: row;
}

.chararacter_image_preview {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.chararacter_image_preview:hover {
  background-color: #5a5a5a;
}

#characterSelectModalSearch {
  margin: 10px;
}

.characterSelectModalList {
  display: flex;
  flex-direction: row;
}

#backgroundSelectModalSearch {
  margin: 10px;
}

.background_image_preview {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  border: solid 1px white;
}

.background_image_preview:hover {
  border: solid 1px black;
}

.background_image_preview>img {
  width: 200px;
  height: auto;
}

#importListModalContent {
  display: block;
}

#importListModalName {
  width: 200px;
  margin-bottom: 10px;
}

#importListModalClose {
  display: flex;
  flex-direction: column;
}

#importListModalText {
  align-self: center;
  width: 80%;
  height: 60%;
  resize: none;
}