body {
  min-width: 800px;
  min-height: 500px;
  overflow: inherit;
  margin: 10px;
  border: solid black 1px;
  max-width: 100%;
  max-height: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  padding: 0;
}

#signout_button {
  position: absolute;
  left: auto;
  right: 20px;
  top: 20px;
}

#content {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#main {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#left_bar {
  position: relative;
  border-top: none;
}

#collapse_sidebar_button {
  position: absolute;
  right: 10px;
  top: 25px;
}

#name_heading {
  margin: 10px;
  width: max-content;
}

#tabs {
  width: 100%;
}

.tab {
  margin: 5px;
  padding: 5px;
  width: max-content;
  max-width: 300px;
}

.tab_hidden {
  display: none;
}

.tab_header {
  display: flex;
  align-items: center;
}

.tab_heading {
  margin: 0px;
  cursor: pointer;
  user-select: none;
  color: rgb(17, 0, 255);
  opacity: 0.6;
  transition: all 0.3s ease 0s;
}

.tab_heading:hover {
  opacity: 1;
}

.tab_contents {
  transition: all 0.5s ease 0s;
}

#new_profile_field {
  width: 100px;
}

#display_preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#sorting_fields {
  padding-top: 10px;
  margin-top: 10px;
}

#auto_row_checkbox {
  margin: 0px;
}

#background_select {
  width: 200px;
}

.selectedList {
  border: black solid 2px;
}

.selectedList:hover {
  color: #2c2c2c;
  background-color: #FFFFFF;
}

#main_header {
  display: flex;
  flex-direction: column;
}

#name_and_zoom {
  min-height: 47px;
  margin: 0px 10px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

#zoom_tools {
  margin: 10px;
}

.filter_row {
  display: flex;
  margin: 5px;
  width: fit-content;
}

.filter_row>.delete {
  margin-left: 10px;
}

.filter_type {
  height: 21px;
}

.filter_type>* {
  width: 60px;
  margin-right: 0px;
}

.filter_field {
  height: 21px;
  margin-left: 10px;
}

.filter_field.obtainability_select {
  width: 80px;
}

.level_input {
  height: 17px;
  width: 56px;
  padding: 0px;
}

#add_list_filters {
  margin: 10px;
}

#list_filter_title {
  margin: 0px;
}

#list_filters {
  vertical-align: middle;
}

#filters_buttons_and_stats {
  display: flex;
  justify-content: space-between;
}

#list_stats {
  margin: 10px;
}

#export_button {
  margin: 10px
}

#zoom_range {
  width: 100px;
  vertical-align: middle;
}

#zoom_checkbox {
  vertical-align: middle;
  transform: scale(1.2)
}

#list_name_title {
  margin-top: 10px;
  margin-bottom: 10px;
}

#character_list_container {
  box-sizing: inherit;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px;
  max-height: 100%;
}

#character_list_content {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: auto;
  overflow-y: auto;
  /* margin: 10px; */
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.character_list_entry {
  border: black solid 1px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.character_list_entry:hover {
  color: #FFFFFF;
  background-color: #2c2c2c;
}

.ascend, .descend {
  font-size: 12px;
  color: #18a0fb;
}

.ascend::after {
  content: "▲";
}

.descend::after {
  content: "▼";
}

.left, .right {
  font-size: 24px;
  color: #000000;
}

.left::after {
  content: "◄";
}

.right::after {
  content: "►";
}

.delete::after {
  content: "×";
}

.add::after {
  content: "+";
}

.minus::after {
  content: "-";
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 80%;
  overflow-y: scroll;
}

/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.characterSelectModalList {
  display: flex;
  flex-direction: row;
  /* align-content: center; */
}

.chararacter_image_preview {
  /* display: flex;
  flex-direction: column; */
  vertical-align: top;
  display: inline-block;
  text-align: center;
}

.chararacter_image_preview:hover {
  /* border: solid black 1px; */
  background-color: #2c2c2c;
}