header {
  min-width: 300px;
  margin: 10px;
}

.header_link {
  color: black;
  opacity: 0.9;
  transition: all 0.3 ease 0s;
  text-decoration: none;
}

.header_link:hover {
  opacity: 1;
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.collapse {
  visibility: collapse;
}

.error_text {
  width: 100%;
  color: red;
}

.btn:disabled {
  visibility: 50%;
}

.btn {
  background-color: #2c2c2c;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 0px;
  border-radius: 3px;
  outline: none;
}

.btn:hover {
  outline: none;
}

.btnBlue {
  background: #18a0fb;
}

.btnGray {
  background: 2c2c2c;
  cursor: pointer;
}

.btnGray:hover {
  background-color: #000000;
}

.small_btn {
  font-size: 16px;
  border: black solid 1px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  outline: none;
}

.small_btn:hover {
  color: #FFFFFF;
  background-color: #2c2c2c;
}

.large_btn {
  font-size: 16px;
  border: black solid 1px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  min-width: 30px;
  min-height: 30px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  outline: none;
}

.large_btn:hover {
  color: #FFFFFF;
  background-color: #2c2c2c;
}

.vertical-divider {
  border-left: black solid 1px;
}

.horizontal-divider {
  border-top: black solid 1px;
}

.margin-right-10 {
  margin-right: 10px;
}

#signout_button {
  position: absolute;
  left: auto;
  right: 20px;
  top: 20px;
}