.character_list_entry {
  border: black solid 1px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  width: 100%;
  cursor: pointer;
  outline: none;
}

.character_list_entry:hover {
  color: #FFFFFF;
  background-color: #2c2c2c;
}
.character_list_row {
  display: flex;
  flex-direction: row;
}




#character_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#character_list .character_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#display_preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#sorting_fields {
  padding-top: 10px;
  margin-top: 10px;
  border-top: black solid 1px;
}

#sorting_profile_table {
	table-layout: fixed;
}

.ascend, .descend {
	font-size: 12px;
	color: #18a0fb;
}

.ascend::after {
	content: "▲";
}

.descend::after {
	content: "▼";
}

.delete::after {
	content: "×";
}
