.character_list_entry {
  border: black solid 1px;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  width: 100%;
  max-width: 200px;
  cursor: pointer;
  outline: none;
}

.character_list_entry:hover {
  color: #FFFFFF;
  background-color: #2c2c2c;
}

.selectedList {
  border: black solid 2px;
}

.selectedList:hover {
  color: #2c2c2c;
  background-color: #FFFFFF;
}

#list_filter_title {
  margin: 0px;
}

#list_filters {
  padding-bottom: 5px;
}

#list_name_title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.character_list_row {
  display: flex;
  flex-direction: row;
}

#character_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#character_list_content .character_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#display_preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#sorting_fields {
  padding-top: 10px;
  margin-top: 10px;
  border-top: black solid 1px;
}

#new_profile_field {
  width: 100px;
}

.ascend, .descend {
  font-size: 12px;
  color: #18a0fb;
}

.ascend::after {
  content: "▲";
}

.descend::after {
  content: "▼";
}

.delete::after {
  content: "×";
}

.add::after {
  content: "+";
}

.minus::after {
  content: "-";
}