/* Character Display */

.character_display {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 156px;
  width: 112px;
  box-sizing: border-box;
  border: solid 1px transparent;
  margin: 5px;
  user-select: none;
}

.character_display:not(.selected):not(.preview):hover {
  outline: 1px solid var(--display-outline-color);
  background-color: var(--display-background-color);
}

.character_display :not(.card_image) {
  position: relative;
}

.character_display .frame_rank {
  margin-top: -112px;
  -webkit-user-drag: none;
}

.character_display .star_rank {
  margin-top: -112px;
  -webkit-user-drag: none;
}

.character_display .attribute {
  margin-top: -112px;
  -webkit-user-drag: none;
}

.character_display .magic {
  margin-top: 0px;
  -webkit-user-drag: none;
}

.character_display .magia {
  margin-top: 0px;
  -webkit-user-drag: none;
}

.character_display .doppel {
  display: flex;
  width: 43px;
  margin-top: 5px;
  margin-left: -5px;
}

.character_display .post_awaken {
  display: flex;
  width: 20px;
  margin-top: -30px;
  margin-right: 0px;
  margin-left: auto;
}

.character_display .level {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 0px;
  margin-top: -156px;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  user-select: none;
}

.character_display .level .level_pre {
  position: relative;
  margin-top: 8px;
  margin-right: 2px;
  font-size: 16px;
  color: #D8D58A;
  text-shadow: -1px -1px black, -1px 0px black, -1px 1px black, 0px -1px black, 0px 1px black, 1px -1px black, 1px 0px black, 1px 1px black;
}

.character_display .level .level_num {
  font-size: 24px;
  color: white;
  text-shadow: -1px -1px black, -1px 0px black, -1px 1px black, 0px -1px black, 0px 1px black, 1px -1px black, 1px 0px black, 1px 1px black;
}

.character_display .card_image {
  position: absolute;
  border-radius: 50%;
  margin: 3px;
  width: 106px;
}

.character_display.selected {
  outline: solid 2px var(--display-selected-outline-color);
  background-color: var(--display-selected-background-color);
}