/* Character Display */

.character_display {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 156px;
  width: 112px;
  box-sizing: border-box;
  border: solid 1px transparent;
  margin: 5px;
  user-select: none;
}

.character_display:not(.selected):not(.preview):hover {
  outline: 1px solid gray;
  background-color: rgb(220, 220, 220);
}

.character_display :not(.card_image) {
  position: relative;
}

.frame_rank {
  margin-top: -112px;
  -webkit-user-drag: none;
}

.star_rank {
  margin-top: -112px;
  -webkit-user-drag: none;
}

.attribute {
  margin-top: -112px;
  -webkit-user-drag: none;
}

.magic {
  margin-top: 0px;
  -webkit-user-drag: none;
}

.magia {
  margin-top: 0px;
  -webkit-user-drag: none;
}

.level {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 0px;
  margin-top: -156px;
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
  user-select: none;
}

.level .level_pre {
  position: relative;
  margin-top: 8px;
  margin-right: 2px;
  font-size: 16px;
  color: #D8D58A;
  /* font-weight: 600; */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  /* -webkit-text-stroke: 1px black; */
}

.level .level_num {
  font-size: 24px;
  color: white;
  /* font-weight: 600; */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  /* -webkit-text-stroke: 1px black; */
}

.character_display .card_image {
  -webkit-mask-image: url(../../assets/ui/frame_mask.png);
  -webkit-mask-position-x: +8px;
  -webkit-mask-position-y: +20px;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(../../assets/ui/frame_mask.png);
  mask-position: 8px, 20px;
  mask-repeat: no-repeat;
  position: absolute;
  left: -10px;
  top: -18px;
}

.character_display .card_image {
  pointer-events: none;
}

.character_display.selected {
  outline: solid 2px black;
  background-color: rgb(110, 110, 110);
}