body {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  min-height: 500px;
  height: calc(100vh - 22px);
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid var(--divider-color);
  background-color: var(--background-color);
}

#content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90%
}

#verify_email {
  width: fit-content;
  max-width: 30vw;
  background-color: var(--message-background-color);
  padding: 5px;
}

.up::after {
  content: "▲";
  text-align: center;
}

.down::after {
  content: "▼";
  text-align: center;
}

.left::after {
  content: "◄";
  text-align: center;
}

.right::after {
  content: "►";
  text-align: center;
}

.delete::after {
  content: "×";
  text-align: center;
}

.add::after {
  content: "+";
  text-align: center;
}

.minus::after {
  content: "-";
  text-align: center;
}

.character_image_preview {
  display: block;
  text-align: center;
  padding: 5px;
  width: 106px;
}

.character_image_preview:hover {
  background-color: #5a5a5a;
}

.character_image_preview>img {
  width: 106px;
}

.character_label {
  font-weight: bold;
}

.characterSelectModalContent {
  display: flex;
  flex-direction: column;
}

#characterSelectModalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

#characterSelectModalTitle {
  margin: 0px;
}

#characterSelectModalSearch {
  padding: 5px;
  margin-bottom: 5px;
  color: var(--text-color-standard);
  background-color: var(--textarea-background-color);
}

#characterSelectModalAddedLabel {
  user-select: none;
}

#characterSelectModalAdded {
  zoom: 1.5;
  vertical-align: middle;
}

#characterSelectModalList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#backgroundSelectModalTitle {
  margin: 0px;
  margin-bottom: 5px;
}

#backgroundSelectModalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

#backgroundSelectModalSearch {
  padding: 5px;
  margin-bottom: 5px;
  color: var(--text-color-standard);
  background-color: var(--textarea-background-color);
}

#backgroundSelectModalStoryLabel {
  user-select: none;
}

#backgroundSelectModalStoryCheck {
  zoom: 1.5;
  vertical-align: middle;
}


.background_image_preview {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  border: solid 1px var(--border-color-none);
  width: 200px;
  height: 150px;
}

.background_image_preview:hover {
  border: solid 1px var(--border-color-hover);
}

.background_image_preview>img {
  width: 100%;
}

#importListModalContent {
  display: flex;
  flex-direction: column;
}

#importListModalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}
#importListModalTitle {
  margin: 0px;
}

#importListModalName {
  width: 20%;
  user-select: none;
  padding: 5px;
  margin-bottom: 5px;
  color: var(--text-color-standard);
  background-color: var(--textarea-background-color);
}

#importListModalText {
  height: 80%;
  resize: none;
  padding: 5px;
  margin-bottom: 5px;
  color: var(--text-color-standard);
  background-color: var(--textarea-background-color);
}

#importListModalImport {
  width: fit-content;
}

#messageModalContent {
  display: flex;
  flex-direction: column;
}

#messageModalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#messageModalTitle {
  margin: 0px;
}

#messageModalText {
  height: 90%;
  resize: none;
  padding: 5px;
  color: var(--text-color-standard);
  background-color: var(--textarea-background-color);
}

#messageModalCopy {
  margin-top: 5px;
  width: fit-content;
}