#menu_bar {
  min-width: fit-content;
  height: 100%;
  flex: 0 1 300px;
}

#name_heading {
  margin: 10px;
  width: max-content;
  max-width: 20vw;
  word-wrap: break-word;
}

#tabs {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.tab {
  margin: 5px;
  width: calc(100% - 30px);
  min-width: fit-content;
  max-width: 300px;
  padding: 10px;
}

.tab_hidden {
  display: none;
}

.tab_header {
  display: flex;
  align-items: center;
  margin: 0px;
  width: fit-content;
  cursor: pointer;
  user-select: none;
  color: var(--tab-header-text-color);
  opacity: 0.6;
  transition: all 0.3s ease 0s;
}

.tab_header:hover {
  opacity: 1;
}

.tab_heading {
  margin: 0px;
}

.tab_toggle {
  margin-right: 5px;
}

.tab_toggle::after {
  font-size: 24px;
}

.tab_contents {
  margin-top: 5px;
  transition: all 0.5s ease 0s;
}

#list_buttons {
  left: 110px;
  top: 5px;
}

#list_buttons>* {
  margin: 5px 1px;
}

#create_list_name_field {
  padding: 5px 20px;
  margin: 2px 0px;
  width: 140px;
}

#rename_list_name_field {
  padding: 5px 20px;
  margin: 2px 0px;
  width: 140px;
}

#duplicate_list_name_field {
  padding: 5px 20px;
  margin: 2px 0px;
  width: 140px;
}

#list_create, #list_duplicate {
  visibility: collapse;
  display: none;
}

.character_list_entry {
  padding: 5px 20px;
  margin: 5px 0px;
  user-select: none;
  text-align: center;
  word-wrap: break-word;
  width: fit-content;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.character_list_entry.selected {
  color: var(--list-entry-text-color-selected);
  background-color: var(--list-entry-background-color-selected);
  border: 1px solid var(--list-entry-border-color-selected);
  cursor: default;
  opacity: 1;
}

#characterSelectModalOpen {
  background-color: transparent;
  border: none;
  background-image: url(../../assets/icon/magical_girls.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  border: 2px solid transparent;
  border-radius: 50%;
}

#characterSelectModalOpen:hover {
  border: 2px solid var(--button-border-color-hover);
  border-radius: 50%;
}

.create_field {
  height: 30px;
  margin: 0;
  padding: 0px 10px;
}

#level_select {
  text-align: left;
  padding-left: 14px;
  height: 28px;
  width: 50px;
}

#rank_group {
  display: flex;
  align-items: center;
}

#post_awaken_checkbox {
  zoom: 1.5;
  margin: 3px 0px;
}

#home_buttons {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5px;
}

#home_buttons>div>* {
  padding: 2px 8px;
  margin: 2px 0px;
}

#preview_text {
  margin: 5px 0px;
}

#display_preview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#profile_select_block {
  display: flex;
  align-items: center;
}

#profile_select {
  padding: 0px 2px;
  height: 30px;
  margin: 0px 2px;
  flex: 1;
}

#profile_create_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#new_profile_field {
  flex: 1;
  height: 26px;
  padding: 2px 5px;
  margin-right: 2px;
}

.profile_rule {
  display: flex;
  justify-content: flex-end;
}

.profile_rule>.state_select {
  height: 30px;
  padding: 0px 2px;
  margin: 2px 2px 0px 2px;
}

.profile_rule>.type_select {
  height: 30px;
  padding: 0px 2px;
  margin: 2px 2px;
}

.display_field {
  height: 30px;
  margin: 0;
  padding: 0px 10px;
}

#display_padding_x_field, #display_padding_y_field {
  width: 50px;
}

#background_tab>div>div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2px 0px;
}

#background_tab>div>div>.form_input {
  height: 30px;
  margin: 0;
  padding: 0px 10px;
  text-align: left;
}

#background_select {
  width: 160px;
}

.background_field {
  height: 30px;
  margin: 0;
  padding: 0px 10px;
}

.background_transparency_range {
  width: 100%;
}

.edit {
  background-image: url("../../assets/icon/edit_black.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  padding: 10px;
}

.edit:not(:disabled):hover {
  background-image: url("../../assets/icon/edit_white.png");
}

.duplicate {
  background-image: url("../../assets/icon/file_copy_black.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  padding: 10px;
}

.duplicate:not(:disabled):hover {
  background-image: url("../../assets/icon/file_copy_white.png");
}